<% if comment.replies.any? %>
    <% comment.replies.each do |reply| %> 
        <ul class="children">
            <li>
                <article class="comment">
                    <header class="comment-author">
                            <i class="fa fa-user" aria-hidden="true" ></i> 
                    </header>
                    <section class="comment-details">
                        <div class="author-name">
                            <h5><a href="#"><%= Current.blogger.first_name%></a></h5>
                                <p><%=reply.created_at%></p>
                        </div>
                        <div class="comment-body">
                                <p><%= reply.body%></p>
                        </div>
                        
                    </section>
                </article>
               
            </li>
        </ul>
    <% end %>
              
<% end %>
<div id="reply-form-<%= comment.id %>"></div>
