 <%= form_tag "/blogposts", method: "GET",  class:"d-flex" do %>
                                
    <%= text_field_tag :search, params[:search], class:"form-control me-2", placeholder:"Search Blog" %>  

     
    <div class="search-b">
    <%= submit_tag "Search", class:"btn btn-outline-info" %>
    </div>

<% end %>


